<h1>Available Products</h1>

<div class="discounts">
  <h3>Available Discounts:</h3>
  <ul>
    <li>Buy-one-get-one-free on Green Tea</li>
    <li>Strawberries: 4.50€ each when you buy 3 or more</li>
    <li>Coffee: 2/3 price discount when you buy 3 or more</li>
  </ul>
</div>

<ul>
  <% @products.each do |code, product| %>
    <li>
      <%= product[:name] %> - <%= number_to_currency(product[:price]) %>
      <%= button_to "Add to Cart", add_item_path(product_code: code), method: :post, class: "btn btn-primary" %>
    </li>
  <% end %>
</ul>

<% if @cart.items.any? %>
  <%= link_to 'View Cart', cart_path, class: 'btn btn-secondary' %>
<% end %>

<%= link_to 'Proceed to Checkout', checkout_path, class: 'btn btn-primary' %>
<%= link_to 'Back to Menu', root_path, class: 'btn btn-secondary' %>
